
.bodoni-moda-sc-fuente {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.old-standard-tt-regular {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}

.old-standard-tt-regular-italic {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
}

h3 {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 30px;
    color: #8C4242;
    margin: 10px;
    padding: 10px;
}

body{
    background-color: #F0F2DC;
    margin: 0;
    padding-top: 50px;
}

main {
    padding-top: 70px;
    padding-bottom: 40px;
}

#menu {
    background-color: #dfe0ce;
    padding: 10px;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar.bg-light {
    background-color: #dfe0ce;
}


#menu ol {
    display: flex;
    gap: 20px; 
    list-style: none;
    padding: 0;
    margin: 0;
}



#menu a {
    color: #BF5E5E;      
}

#menu a:hover {
    color: #8C4242;      
}

#inicio {
    text-align: center;
    margin: 0 auto;
    padding: 15px 10 px;
    font-size: 16 px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

#card_inicio {
    padding: 0px 20px;
    margin: 20px auto;
    width: 90%;
    border-color: #dfe0ce;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 20px;

}
#card_inicio h1 {
    color: #70735F;
    text-align: start;
    font-size: 50px;
    margin-top: 20px;
    font-family: bodoni-moda-sc-fuente; 
    align-items: flex-start;
} 

 #card_foto img {
   max-width: 300px;   
    width: 100%;        
    height: auto;       
    display: block;
    margin: 0 auto;  
    padding: 0;
} 


#sobre_mi {
    margin: 10px;
    padding: 15px 10px;
    font-size: 16px;
    max-width: 100%;
    display: block;
}

#sobre_mi p {
    text-align: justify;
    font-family: old-standard-tt-regular;
    font-size: 20px;
    color: #8C4242;
    line-height: 1.3;
    width: 100%;
    display: block;
}


footer {
    background-color: #dfe0ce;
    color: #BF5E5E;
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    height: 30px;
    z-index: 1000;
}

footer h4 {
    font-size: 12px;
    margin: 1px 0;
    padding: 7px;
    text-align: justify;
}

.card {
    
    background-color: #F0F2DC;
    border-color: #dfe0ce;
}
.habilidades button{
    color: #70735F;
}


.carrusel-item img {
    width: 10px;
    height: 10px;
}

#contacto ol {
    display:flex;
    flex-direction: column;
    list-style: none;
}


    @media screen and (min-width: 769px) {
        #inicio {
            padding: 30px 40px;
            font-size: 18px;
            max-width: 900px;
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        #sobre_mi {
            padding: 30px 40px;
            font-size: 18px;
            max-width: 900px;
            display: block;
        }

        #habilidades {
            padding: 30px 40px;

        }

        #experiencia {
            padding: 30px 40px;

        }

        
        #contacto {
            padding: 30px 40px;
            font-size: 18px;
            max-width: 900px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }

   @media screen and (min-width: 1025px) {
        #inicio {
            padding: 40px 80px;
            font-size: 20px;
            max-width: 1200px;
        }

        #sobre_mi {
            padding: 20px;
            margin: 20px;
            font-size: 18px;
            max-width: 1200px;
            display: block;
        }

        #habilidades {
            padding: 30px 40px;

        }

        #experiencia {
            padding: 30px 40px;

        }


        
        #contacto {
            padding: 30px 40px;
            font-size: 18px;
            max-width: 900px;
        }
    }
