
.bodoni-moda-sc-fuente {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.old-standard-tt-regular {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}

.old-standard-tt-regular-italic {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
}



body{
    background-color: #F0F2DC;
    margin: 0;
}

#menu {
    background-color: #dfe0ce;
    padding: 10px;
    width: 100%;
}

#menu ol {
    display: flex;
    gap: 20px; 
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu a {
    color: #BF5E5E;      
}

#menu a:hover {
    color: #8C4242;      
}

#inicio {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

#card_inicio {
    padding: 0px 20px;
    margin: 20px auto;
    width: 80%;
    border-color: #dfe0ce;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 20px;

}
#card_inicio h1 {
    color: #70735F;
    text-align: start;
    font-size: 50px;
    margin-top: 20px;
    font-family: bodoni-moda-sc-fuente; 
    align-items: flex-start;
} 

 #card_inicio img {
   max-width: 300px;   
    width: 100%;        
    height: auto;       
    display: block;
    margin: 0 auto;  
    padding: 0;
} 


#sobre_mi {
    padding: 20px;
    margin: 20px;
}

#sobre_mi p {
    text-align: justify;
    margin: 20px;
    font-family: old-standard-tt-regular;
    font-size: 20px;
    color: #8C4242;
    line-height: 1.3;
    width: 75%;
    display: block;
}


footer {
    background-color: #dfe0ce;
    color: #BF5E5E;
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    height: 30px;
}

footer h4 {
    font-size: 12px;
    margin: 1px 0;
    padding: 7px;
    text-align: justify;
}